<?php

namespace %namespace%;

use Mage_Core_Controller_Request_Http as Request;
use PhpSpec\ObjectBehavior;
use Prophecy\Argument;
use Zend_Controller_Response_Abstract as Response;

class %name% extends ObjectBehavior
{
    function let(Request $request, Response $response)
    {
        $this->beConstructedWith($request, $response);
    }

    function it_is_initializable()
    {
        $this->shouldHaveType('%subject%');
    }
}
